.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  height: 1000px;
}

.shelf {
  display: flex;
  align-content: space-between;
  height: 100%;
  width: 50%;
  background-size: 100% 100%;
  margin: 2vh 2vh;
  text-align: center;
}

.book-face {
  background-image: url("./images/BookLarge01.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30vh;
  width: 20vh;
  margin: 5px;
  color: antiquewhite;
}

.reader {
  height: 90%;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  text-align: center;
}

.navbar {
  
}




/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


