.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  height: 100vh;
}

#collection-container {
  height: 100%;
  text-align: center;
  border: 1px black solid;
}

.shelf {
  display: flex;
  align-content: space-between;
  align-items: stretch;
  height: 100%;
  width: 50%;
  background-size: 100% 100%;
  margin: 2vh 2vh;
  text-align: center;
}

.book-face {
  background-image: url("./images/BookLarge01.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30vh;
  width: 20vh;
  margin: 5px;
  color: antiquewhite;
  padding: 5px;
}

/* #author {
  text-size-adjust: 50%;
} */

.reader {
  position: absolute;
  height: 100%;
  width: 100%;
}

#look-up {
  position: absolute;
  right: 0px;
  border: 1px black solid;
  border-radius: 5px;
  z-index: 2;
  margin: 3vh;
}

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  text-align: center;
  margin: 5vw;
}

.list-word {
  border: 1px black solid;
}

.definition {
  position: relative;
  border: 1px black solid;
  top: 2%;
  width: 30vw;
  margin: 5vw;
}

.definition .close-def {
  position: absolute;
  top: 2%;
  right: 2%;
}

.navbar {
  /* visibility: hidden; */
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navbar .navlink{
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navbar .navlink:hover{
  background: #1565C0;
}




/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


